<a href="https://colab.research.google.com/github/RRavinderSS/Python-Basics-Assignments/blob/main/List_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:

mylist = []
print(mylist)
print(type(mylist))

del mylist

mylist = list(range(0,10))
print(mylist)

del mylist

# mylist = eval(input("Enter the list items"))
# print(mylist)

# del mylist

exp = "x*(x+1)+(x+2)"
x = 2
print(exp)
print(eval(exp))

mystring = "Learning is very very easy"
mylist = mystring.split()
print(mylist)

del mystring
del mylist

print('\nPrinting list from range using n syntax:')
mylist = list(range(0,11))
print(mylist[1])
print(mylist[2])
print(mylist[5:11])

[]
<class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
x*(x+1)+(x+2)
10
['Learning', 'is', 'very', 'very', 'easy']

Printing list from range using n syntax:
1
2
[5, 6, 7, 8, 9, 10]

 Printling the list values
1
1
1
1
1
1
1
1
1
1
1

In [29]:
print("\n Printling the list values")
del mylist

mylist= list(range(0,10))

print("\n Print using While loop")
i=0
while i < len(mylist):
  print(mylist[i])
  i=i+1

print("\n print using for in loop")
for item in mylist:
  print(item)

 Printling the list values

 Print using While loop
0
1
2
3
4
5
6
7
8
9

 print using for in loop
0
1
2
3
4
5
6
7
8
9

In [30]:
del mylist
mylist= list(range(1,11))
print(mylist)

for num in range(0,4):
  print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
0
1
2
3

In [31]:
del mylist

mylist= ["a","b","c"]
x = len(mylist)

for i in range(x):
  print(f"The value {mylist[i]} is located in positive index: {i} and negative index: {i-x}")

The value a is located in positive index: 0 and negative index: -3
The value b is located in positive index: 1 and negative index: -2
The value c is located in positive index: 2 and negative index: -1

In [39]:
del mylist
mylist = [1,2,2,2,3,4,4,4,5,5,6,6,6,7,7,88]

print(mylist.count(1))
print(mylist.count(2))
print(mylist.count(4))

print(len(mylist))

print(mylist.index(6))

mylist.append(99)
mylist.append(100)
mylist.insert(2,101)
print(mylist)

1
3
3
16
10
[1, 2, 101, 2, 2, 3, 4, 4, 4, 5, 5, 6, 6, 6, 7, 7, 88, 99, 100]

In [47]:

mylist1 = ["Ravi","Nanu","Manu"]
mylist2 = ["sam","ranjan","jasu"]

print(mylist1)
mylist1.extend(mylist2)
print(mylist1)

#mylist1.index
#mylist1.count()
#mylist1.append
#mylist1.insert
#mylist1.extend
mylist1.append("jasu")
mylist1.append("jasu")
mylist1.remove("jasu")
mylist1.remove("jasu")
print(mylist1)

['Ravi', 'Nanu', 'Manu']
['Ravi', 'Nanu', 'Manu', 'sam', 'ranjan', 'jasu']
['Ravi', 'Nanu', 'Manu', 'sam', 'ranjan', 'jasu']

In [50]:

mylist1 = [1,2,3,4,5]
y= mylist1
z= mylist1[:]

print(id(y),id(mylist1))
print(id(z))

134649121402816 134649121402816
134649120092672

In [57]:
x = [[10,20,30],[40,50,60],[70,80,90]]

for item in range(len(x)):
  print(x[item])

for i in range(len(x)):
  for j in range(len(x[i])):
    print(x[i][j] ,end= ' ')
  print()

Hello Ravinder

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
10 20 30
40 50 60
70 80 90

In [59]:
s = [x*x for x in range(0,11)]
print(s)

z = [x for x in s if x%2 == 0]
print(z)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 4, 16, 36, 64, 100]